apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
  labels:
    app: {{ .Release.Name }}
    component: {{ .Release.Namespace }}
    release: {{ .Release.Name }}
    
spec:
  type: ClusterIP
  ports:
    - port: {{.Values.app.hostPort}}
      targetPort: {{.Values.app.containerPort}}
      protocol: TCP

  selector:
    app: {{ .Release.Name }}
    component: {{ .Release.Namespace }}
    release: {{ .Release.Name }}
   